/* about_us */
.about-us__desc
	margin-top: 20px

.comand
	display: flex
	flex-flow: row wrap
	justify-content: center

.comand-image
	position: relative
	max-height: 500px
	max-width: 450px
	margin-right: 20px
	margin-top: 20px

.comand-image__img
	object-fit: cover
	border-radius: 20px
	height: 100%
	width: 100%

.about-us__images
	margin: 20px 0
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-content: center

.about-us__image
	display: flex
	justify-content: center
	align-items: center
	border: 1px solid black
	border-radius: 5px
	height: 170px
	width: 170px
	margin: 10px
	box-shadow: 0 0 10px black

.about-us__img
	margin: 5px
	max-height: 140px
	max-width: 140px
