@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);.form-box--add, .developments__form-box {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.login__form-box,
.contacts__form-box,
.development__form-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header, .footer, .container {
  background: #d4e3f4;
}

.header {
  font-family: Open Sans, Nunito, Arial;
  color: #185aa0;
}

.logo {
  height: 140px;
  justify-self: start;
}

.header__grid {
  display: grid;
  grid-template: "logo title" "logo nav";
  align-items: center;
  justify-items: center;
  grid-template-columns: auto 1fr;
}

.header__grid--app {
  margin: auto;
}

.header__logo {
  grid-area: logo;
  width: 215px;
}

.header__title {
  text-align: center;
  line-height: 1.2;
  grid-area: title;
  font-weight: bold;
  font-size: 2.6em;
}

.header__nav {
  grid-area: nav;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}

.header__nav-link {
  color: #185aa0;
  font-size: 1.5em;
  font-weight: bold;
  padding: 3px;
  transition: color 0.1s linear;
}

.header__nav-link:hover {
  text-shadow: 1px 1px 6px #8c8c8c;
  color: black;
}

.sign-out {
  height: 1.4em;
  transition: 0.1s filter linear;
}

.sign-out:hover {
  filter: drop-shadow(1px 1px 6px #8c8c8c);
}

.footer {
  grid-row: 4;
  font-family: Nunito, Open Sans, Arial;
}

.footer__grid {
  margin: auto;
  display: grid;
  grid-template: "title logo" "inf_txt logo";
}

.footer__caption {
  grid-area: title;
  margin-bottom: 10px;
}

.footer__desc {
  grid-area: inf_txt;
  line-height: 1.8;
}

.footer__logo {
  grid-area: logo;
  justify-self: end;
}

/* homepage */
.header__grid--wrapper-home-page {
  margin: 0 auto;
  max-width: 90%;
}

.header__grid--home-page {
  position: fixed;
  padding: 10px;
  width: 100%;
  background: #d4e3f4;
  z-index: 2;
}

.header__gradient::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  margin-top: 160px;
  height: calc(40vh - 160px);
  background: linear-gradient(180deg, #d4e3f4 5%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.homepage {
  font-family: Nunito, Open Sans, Arial;
  width: 100%;
  display: grid;
  margin: unset;
  line-height: 1;
  /* background: linear-gradient(180deg, rgba(212,227,244,1) 50%, rgba(120,120,120,1) 100%)  */
}

.homepage--title-h2 {
  margin-bottom: 20px;
  font-family: Open Sans, Nunito, Arial;
  font-weight: bold;
}

.animate-emergence {
  opacity: 0;
  transform: translate(0px, 40%);
  transition: opacity 0.2s linear, translate 0.2s linear;
}

.animate-emergence--active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.homepage__item {
  margin-top: 6px;
}

.homepage--container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
  justify-content: center;
  align-content: center;
}

.upper-preview {
  margin-top: 160px;
  height: calc(100vh - 160px);
  width: 100%;
  background-color: black;
  box-shadow: 0px 20px 20px 14px rgba(0, 0, 0, 0.1);
  display: flex;
}
.upper-preview::after {
  content: "";
  position: absolute;
  top: 160px;
  left: 0;
  right: 0;
  height: calc(100vh - 160px);
  background: url("/public/image/homepage/blueprint1.webp") no-repeat center/cover;
  opacity: 0.7;
}

.upper-preview__title-h1 {
  font-size: 4vw;
}

.upper-preview__title-h2 {
  font-size: 3vw;
}

.box {
  margin: auto;
  font-family: Open Sans, Nunito, Arial;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px black;
  z-index: 1;
}

.organization-desc__quote,
.advantages__desc {
  line-height: 2;
}

.organization-desc {
  display: grid;
  grid-template-columns: 50% 50%;
}

.organization-desc__quote {
  max-width: 750px;
  z-index: -1;
  font-size: 1.3em;
}

.organization-desc__thumbnail {
  display: flex;
  margin-bottom: 200px;
}

.organization-desc__project-1,
.organization-desc__project-2,
.organization-desc__project-3 {
  z-index: -3;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 5px;
  box-shadow: 0 0 4px black;
  line-height: 0;
}

.organization-desc__project-1 {
  position: relative;
  top: 40px;
  left: -10px;
}

.organization-desc__project-2 {
  z-index: -2;
  position: relative;
  top: 130px;
  left: -30px;
}

.organization-desc__project-3 {
  position: relative;
  top: 250px;
  left: -720px;
}

/* ##########################################  */
/* translate  */
.organization-desc__thumbnail--anim-translate {
  -webkit-animation: company-anim ease-in-out 5s infinite;
          animation: company-anim ease-in-out 5s infinite;
}

.organization-desc__img-1,
.organization-desc__img-2,
.organization-desc__img-3 {
  width: 350px;
  height: 215px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes company-anim {
  from {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes company-anim {
  from {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(-50px);
  }
}
.advantages__title {
  justify-self: center;
  margin-bottom: 20px;
}

.advantages__advantage {
  width: 100%;
  font-size: 1.3rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 15% 1fr;
}

.advantages__advantage:not(:last-child) {
  margin-bottom: 40px;
}

.advantages__image {
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 100%;
}

.advantages__icon {
  fill: #353535;
  max-height: 100%;
  max-width: 100%;
}

.cooperate-with-us__title-h2 {
  margin-bottom: 20px;
}

.cooperate-with-us__images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.cooperate-with-us__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 170px;
  width: 170px;
  margin: 10px;
  box-shadow: 0 0 10px black;
}

.cooperate-with-us__img {
  max-height: 150px;
  max-width: 150px;
  margin: 1em 1.3em;
}

/* about_us */
.about-us__desc {
  margin-top: 20px;
}

.comand-image {
  height: 502px;
  width: 450px;
}

.comand-image__img {
  border-radius: 20px;
  max-width: 100%;
}

.about-us__images {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.about-us__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 170px;
  width: 170px;
  margin: 10px;
  box-shadow: 0 0 10px black;
}

.about-us__img {
  margin: 5px;
  max-height: 140px;
  max-width: 140px;
}

/* contact */
.contact__desc {
  margin: 2rem 0;
}

.contact__paragraph {
  margin: 10px 0;
}

/* 2gis */
.double-gis--contacts {
  margin-top: 1rem;
}

iframe {
  width: 100%;
}

/* development page */
.development {
  width: 100%;
  display: grid;
}

.development__input-text {
  font-family: inherit;
  font-size: 1.8rem;
}

.development__textarea {
  font-family: inherit;
  height: 200px;
  font-size: 1.2rem;
}

.development__thumbnail {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.form--development__thumbnail {
  display: none;
}

.development__thumbnail-image {
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-top: 20px;
  background: #a8cffa;
  border-radius: 5px;
}

.development__thumbnail-img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* developments */
.developments__form-box:first-of-type {
  margin-top: 0;
}

.developments__category {
  font-style: italic;
}

.form--dropdown {
  width: 100%;
}

.dropdown--select-category {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}

.dropdown__input-text--select-category {
  height: 100%;
  width: 100%;
}

.non-select-category {
  display: none !important;
}

.developments__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/3;
}

.dropdown__caption {
  font-size: 1.8rem;
  margin-right: 10px;
}

.dropdown__list {
  height: 32px;
  font-size: 1.4rem;
  outline: none;
  font-family: inherit;
}

.developments__item {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto 1fr auto auto;
  padding: 20px;
  justify-self: center;
  border: solid 1px black;
  border-radius: 20px;
}

.developments__thumbnail {
  position: relative;
  background: #a8cffa;
  height: 300px;
  width: 100%;
}

.developments__thumbnail-img {
  height: 100%;
  width: 100%;
  justify-self: center;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* patents */
.patents__form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}

.patents__form-box {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 1em 0;
}

.form-box--patents, .form-box__input-text--patents {
  width: 100%;
}

.patents--title {
  grid-column: 1/4;
}

.patents__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: solid 1px black;
  border-radius: 20px;
}

.patents__thumbnail {
  position: relative;
}

.patents__thumbnail-image {
  height: 500px;
  width: 350px;
  margin-bottom: 10px;
}

.patents__thumbnail-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.patents__name {
  font-size: large;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a,
a:active,
a:hover {
  color: black;
  text-decoration: none;
}

.link {
  text-align: center;
}

.title-h1 {
  line-height: 1;
  font-size: 2rem;
  font-weight: bold;
}

.title-h2 {
  line-height: 1;
  font-size: 1.8rem;
}

.title-h3 {
  line-height: 1;
  font-size: 1.3rem;
}

.button,
.input-button,
.input-submit,
.input-file,
.form__button {
  width: 100%;
  background: none;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 3px 18px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: background 0.2s linear, color 0.2s linear;
}

.button:hover,
.input-button:hover,
.input-file:hover,
.form__button:hover {
  background: #6396cf;
  color: white;
}

.disabled-hover:hover,
.sendFormButton:hover {
  background: none !important;
  color: unset !important;
}

.delete-image {
  position: absolute;
  top: 10px;
  right: 50px;
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s linear;
  display: flex;
}
.preview__image:hover .delete-image, .development__thumbnail-image:hover .delete-image {
  opacity: 0.5;
}
.preview__image .delete-image:hover, .development__thumbnail-image .delete-image:hover {
  opacity: 1;
}

.delete-image--preview__image {
  right: 10px;
}

.delete-image__svg {
  max-height: 85%;
  margin: auto;
}

.list {
  list-style: disc;
}

ul, ol {
  margin-left: 25px;
}

.error {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.successPopUp {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  margin: 0 0 20px 20px;
  height: 100px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: Nunito, Open Sans, Arial;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
  -webkit-animation: successPopUp 3s forwards;
          animation: successPopUp 3s forwards;
}

@-webkit-keyframes successPopUp {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes successPopUp {
  from {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.error {
  color: red;
  -webkit-animation: createErrorsField 0.3s;
          animation: createErrorsField 0.3s;
}

@-webkit-keyframes createErrorField {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes createErrorField {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.desc, .ck-editor__editable {
  font-family: Nunito, Open Sans, Arial !important;
  word-break: break-word;
  white-space: pre-wrap;
}

.ck-editor__editable {
  min-height: 200px;
}

.ck-editor__top,
.ck-editor__main {
  border: solid 1px gray !important;
}

.ck-editor__top {
  border-bottom: 0 !important;
}

.ck-editor__main {
  border-top: 0 !important;
}

hr {
  width: 100%;
  border: none;
  margin: 2rem 0;
}

.html {
  height: 100%;
  scroll-behavior: smooth;
}

.body {
  background: #fafafa;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

input, textarea {
  font-family: inherit;
  resize: none;
  outline: none;
  padding: 5px;
  border: solid 1px gray;
}

input:not(input[type=button]):focus, textarea:focus {
  box-shadow: 0 0 5px #185aa0;
}

.main {
  font-family: Nunito, Open Sans, Arial;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 5px;
  line-height: 1.5;
  margin: 20px auto;
}

.container {
  padding: 10px;
  max-width: 90%;
}

.upButton {
  position: fixed;
  height: 50px;
  width: 50px;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0.3s linear;
}

.arrow-up {
  max-height: 80%;
  min-width: 80%;
  overflow: hidden;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.arrow-up:hover {
  filter: drop-shadow(0 0 2px black);
}

.grid--patents {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 20px 0;
}

.grid--developments {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  margin: 20px 0;
}

.patents__name, .developments__name {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.login--title,
.feedback--title {
  margin-bottom: 20px;
}

form[action*="/api/"] {
  position: relative;
}
form[action*="/api/"]::after {
  display: none;
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("/public/image/other/load.gif") rgba(133, 201, 186, 0.3) no-repeat center/cover;
  background-size: auto auto;
  transform: scale(1.05);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}
form[action*="/api/"].formSend::after {
  display: block !important;
  opacity: unset !important;
  visibility: unset !important;
}

.form-box {
  margin: 1rem 0;
}

.form-box:first-of-type {
  margin-top: 0;
}

.form--change-text {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.form-box__textarea {
  height: 200px;
}

img {
  line-height: 0;
}

.for-the-entire-window {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.patents__thumbnail:hover .for-the-entire-window, .developments__thumbnail:hover .for-the-entire-window, .development__thumbnail-image:hover .for-the-entire-window {
  opacity: 0.5;
}
.patents__thumbnail .for-the-entire-window:hover, .developments__thumbnail .for-the-entire-window:hover, .development__thumbnail-image .for-the-entire-window:hover {
  opacity: 1;
}

.for-the-entire-window__icon {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20%;
  color: red;
}

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal__bg-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.modal__bg-modal:hover {
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.modal__form {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
}

.modal__image {
  position: relative;
  margin: auto;
  max-height: 100%;
  max-width: 90%;
  border: 1px solid black;
  background: white;
}

.modal__image:not(.modal__close) {
  max-width: 100%;
  max-height: 100%;
}

.modal__close {
  position: absolute;
  height: 50px;
  width: 50px;
  right: 20px;
  /* background: rgba(0, 0, 0, 0.3) */
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s linear;
}
.modal__close:hover {
  opacity: 1;
}
.modal__bg-modal:hover ~ .modal__close {
  opacity: 1;
}

/* input[type="file"] */
.form-box__input-file {
  display: none;
}

.preview {
  display: grid;
  grid-gap: 10px;
  grid-column: 2;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0.5rem 0;
}

.preview__image {
  position: relative;
  height: 200px;
  width: 200px;
}

.preview__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.preview__remove-image {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 2%;
  top: 2%;
  background: white;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview__image:hover .preview__remove-image {
  opacity: 1;
}

.removing {
  transform: scale(0);
  transition: transform 0.3s;
}

.animate-emergence {
  opacity: 0;
  transform: translate(0px, 40%);
  transition: opacity 0.2s linear, translate 0.2s linear;
}

.animate-emergence--active {
  transform: translate(0px, 0px);
  opacity: 1;
}

/* hamburger */
.hamburger {
  display: none;
  height: 50px;
  cursor: pointer;
}

.bars {
  max-height: 100%;
  max-width: 100%;
}

.nav__close {
  height: 70px;
  width: 70px;
}

@media (max-width: 480px) {
  .header__grid--home-page {
    position: absolute;
    z-index: unset;
    height: 138px;
  }

  .header__grid {
    grid-template: "logo hamburger" "title title";
    grid-template-columns: 1fr 1fr;
  }

  .header__title {
    line-height: 1;
    margin: 5px 0;
    font-size: 1.5rem;
  }

  .header__gradient::after {
    margin-top: 137px;
  }

  .logo {
    height: 50px;
    width: 80px;
  }

  .header__nav {
    visibility: hidden;
    grid-area: unset;
    position: fixed;
    z-index: 4;
    right: 0;
    top: 0;
    bottom: 0;
    background: #d4e3f4;
    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .homepage,
.container {
    border-radius: unset;
  }

  .container {
    max-width: 100%;
  }

  .footer__grid {
    display: flex;
    flex-direction: column;
  }

  .footer__logo {
    display: none;
  }

  .successPopUp {
    margin: unset;
    border-radius: unset;
    height: 50px;
    width: 100%;
  }

  .preview {
    grid-template-columns: 1fr 1fr;
  }

  .delete-image {
    cursor: unset;
    opacity: unset;
    transition: unset;
  }

  .development__thumbnail-images:hover .delete-image {
    opacity: unset;
  }

  .delete-image:hover {
    opacity: unset;
  }

  .modal .modal__close:hover {
    opacity: unset;
  }

  .modal__bg-modal:hover ~ .modal__close {
    opacity: unset;
  }

  .modal__bg-modal:hover {
    cursor: unset;
  }

  .box {
    flex-direction: column;
  }

  .patents__thumbnail-image {
    height: unset;
    width: 100%;
  }

  .grid--patents, .grid--developments {
    grid-template-columns: 1fr;
  }

  .developments__header {
    flex-direction: column;
    align-items: unset;
  }

  .dropdown__item {
    font-size: 0.7rem;
  }

  .development__thumbnail-image {
    margin-right: unset;
    width: 100%;
  }

  .development__thumbnail-img {
    height: 100%;
    width: 100%;
  }

  .comand-image {
    height: 100%;
    width: 100%;
  }

  .homepage--container {
    max-width: unset;
    padding: 10px;
    min-height: unset;
    margin: 100px 0;
  }

  .upper-preview {
    margin-top: 138px;
    height: calc(100vh - 138px);
  }
  .upper-preview::after {
    top: 138px;
    height: calc(100vh - 138px);
    overflow: hidden;
  }

  .upper-preview__title-h1,
.upper-preview__title-h2 {
    font-size: 8vw;
    margin-top: 20px;
    text-align: center;
  }

  .advantages__advantage {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .advantages__image {
    width: 100%;
  }

  .advantages__icon {
    max-width: 100%;
  }

  .organization-desc {
    grid-template-columns: 1fr;
  }

  .organization-desc__thumbnail {
    flex-direction: column;
  }

  .organization-desc__project-1,
.organization-desc__project-2,
.organization-desc__project-3 {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: unset;
  }

  .organization-desc__img-1,
.organization-desc__img-2,
.organization-desc__img-3 {
    width: 100%;
    height: 100%;
  }

  .cooperate-with-us__image {
    width: 100%;
  }

  .cooperate-with-us__img {
    max-width: 90%;
  }
}
@media (max-width: 1020px) {
  .header__grid--wrapper-home-page {
    max-width: unset;
  }

  .header__title {
    text-align: center;
  }

  .hamburger {
    justify-self: end;
  }

  .hamburger {
    grid-area: hamburger;
    display: unset;
    height: 50px;
    width: 50px;
  }

  .header__nav-link:not(header__nav-link:first-child) {
    margin-top: 20px;
  }

  .header__nav-link {
    font-size: 1.2rem;
  }

  .upButton {
    display: none;
  }

  .form-box {
    display: flex;
    flex-direction: column;
  }

  .for-the-entire-window {
    cursor: unset;
    opacity: unset;
    transition: unset;
  }

  .development__thumbnail-images:hover .for-the-entire-window {
    opacity: unset;
  }

  .for-the-entire-window:hover {
    opacity: unset;
  }

  .modal__form {
    background: black;
    padding: 0px;
  }

  .modal__image {
    max-width: 100%;
    border: unset;
    background: gray;
  }

  .modal__close {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
    cursor: unset;
    opacity: unset;
    transition: unset;
  }

  .modal__close path {
    fill: white;
  }
}
@media (max-width: 1020px) and (min-width: 481px) {
  .container {
    max-width: 100%;
  }

  .header__grid--home-page {
    height: 128px;
  }

  .header__grid {
    grid-template: "logo title hamburger";
  }

  .header__title {
    margin: 20px 0;
    font-size: 3vw;
  }

  .header__nav {
    visibility: hidden;
    grid-area: unset;
    position: fixed;
    z-index: 11;
    right: 0;
    top: 0;
    bottom: 0;
    background: #d4e3f4;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal {
    z-index: 0;
  }

  .grid--developments {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (max-width: 1400px) and (min-width: 1021px) {
  .header__title {
    font-size: 2rem;
  }
}
@media (max-width: 1400px) and (min-width: 481px) {
  .logo {
    height: 98px;
    width: 150px;
  }

  .header__nav-link {
    font-size: 1.2rem;
  }

  .header__gradient::after {
    margin-top: 121px;
    height: calc(40vh - 121px);
  }

  .upper-preview {
    margin-top: 121px;
    height: calc(100vh - 121px);
  }
  .upper-preview::after {
    height: calc(100vh - 121px);
    top: 121px;
  }

  .organization-desc {
    grid-template-columns: auto auto;
  }

  .organization-desc__thumbnail {
    flex-direction: column;
  }

  .organization-desc__project-1,
.organization-desc__project-2,
.organization-desc__project-3 {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: unset;
  }

  .organization-desc__img-1,
.organization-desc__img-2,
.organization-desc__img-3 {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 1400px) {
  .organization-desc__thumbnail {
    margin-bottom: unset;
  }

  .organization-desc__thumbnail--anim-translate {
    -webkit-animation: none;
            animation: none;
  }
}